{% assign proj = include.project %}
{% if proj == nil and include.project_id %}
  {% assign proj = site.pages | where: "project_id", include.project_id | first %}
{% endif %}
{% assign proj = proj | default: page %}
{% if proj %}
  {% if proj.image %}
<p align="center">
<img
  src="{{ proj.image }}"
  alt="{{ proj.title }} key image"
  style="max-width: 900px; width: 100%; height: auto; display: block; margin: 0 auto;"
/>
</p>
  {% endif %}
  {% if proj.videos %}
    {% for v in proj.videos %}
<iframe
  src="{{ v.url }}"
  title="{{ v.title | default: proj.title }}"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
  style="width: 100%; height: 400px;">
</iframe>
    {% endfor %}
  {% elsif proj.video %}
<iframe
  src="{{ proj.video }}"
  title="{{ proj.video_title | default: proj.title }}"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
  style="width: 100%; height: 400px;">
</iframe>
  {% endif %}
{% endif %}